<template>
    <div class="product-image">
        <div class="product-thumbnail">
            <ul class="product-thumbnail-list">
                <li v-for="(image, index) in images" :class="{active: active == index}" @click="activeImage(index)" class="action-link">
                    <a><img :src="image.src" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="product-main-image" data-id="main-image">
            <img :src="images[active].src" alt="" />
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name: "Images",
                active: 0,
            }
        },
        props: ['images'],
        methods:{
            activeImage(index){
                this.active = index;
            }
        }

    }
</script>

<style scoped>
    .action-link {
        cursor: pointer;
    }
    .product-thumbnail{
        overflow: auto;
    }
</style>