<template>
    <div>
        <div v-for="c in count">
            <span>{{c}}</span>
        </div>
        <div class="review" v-for="(comment, i) in comments" :key="i">
            <div class="review-info">
                <div class="review-icon"><img :src="comment.user.avatar_url" alt="" /></div>
                <div class="review-rate">
                    <ul class="review-star">
                        <li v-for="index in 5" :class="{active : comment.assessment >= index}">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    ({{comment.assessment}}/5)
                </div>
                <div class="review-name">{{comment.user.name}}</div>
                <div class="review-date">{{comment.updated_at}}</div>
            </div>
            <div class="review-title">
                {{comment.title}}
            </div>
            <div class="review-message">
                {{comment.text}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['comments', 'count'],
    }
</script>