<template>
    <div class="row">
        <div v-for="(image, index) in img" class="col-lg-2 col-md-3">
            <img :src="image.src" class="height-100 p-10" alt="">
            <div @click="deleteImage(image.id, index)" class="btn btn-outline-danger btn-sm">Удалить</div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                img: []
            }
        },
        props:['images'],
        methods:{
            deleteImage(idImage, index){
                axios.delete(route('dashboard.store.images.destroy', idImage)).then(response => {
                    this.img.splice(index, 1);
                }).catch(err => {

                }).then(() => {

                });
            },
            test(){
                console.log(this.images);
            }
        },
        mounted(){
            this.img = JSON.parse(this.images);
        }
    }
</script>

<style scoped>

</style>