<template>
    <div>
        <input :disabled="loaderActive" class="btn btn-sm btn-inverse" @click="change" :value="isVisible">
    </div>
</template>

<script>
    export default {
        data(){
            return{
                is_v: 0,
                loaderActive: false,
            }
        },
        props: {
            is_visible:{
                type: [Number],
            },
            id:{
                type: [Number],
            },
        },
        methods:{
            change(){
                this.loaderActive = true;

                axios.get(route('dashboard.store.comments.change', this.id)).then(response => {
                    this.is_v = response.data.is_visible;
                    this.loaderActive = false;
                }).catch(error => {

                });
            }
        },
        computed:{
            isVisible(){
                return (this.is_v) ? 'Скрыть' : 'Показать';
            }
        },
        mounted(){
            this.is_v = this.is_visible;
        }
    }
</script>

<style scoped>

</style>