<template>
    <div>
        <b-tabs>
            <b-tab v-for="(items, index) in opts" :title="index.replace('_', ' ')" :key="index" >
                <table id="data-table-default" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(option, inde) in items" :key="inde">
                            <td>{{option.name}}</td>
                            <td>
                                <input type="text" class="form-control" :name="inde" v-model="opts[index][inde].value">
                            </td>
                        </tr>
                    </tbody>

                </table>
            </b-tab>
        </b-tabs>
        <div class="text-center">
            <button class="btn btn-success" @click="saveAll()" v-button-loader="loaderActive" :disabled="loaderActive">Сохранить Всё</button>
        </div>
    </div>
</template>

<script>
    import {validationMixin} from 'vuelidate';
    import Swal from 'sweetalert2';

    const toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        customClass: 'custom-toast',
        timer: 2000
    });

    export default {
        mixins: [validationMixin],
        data(){
            return{
                requestOption : {},
                opts : {},
                loaderActive: false,
            }
        },
        props:['options'],
        methods:{
            saveAll(){
                this.loaderActive = true;
                this.resortedOption();


                axios.put(route('dashboard.store.custom-options.update'), this.requestOption).then(response => {
                    toast({
                        type: 'success',
                        title: 'Данные сохранены',
                    });

                }).catch((error) => {
                    toast({
                        type: 'error',
                        title: 'Упс, что-то пошло не так',
                    });
                }).then(() => {
                    this.loaderActive = false;
                });
            },
            resortedOption(){
                for(var keyOne in this.opts){
                    for(var keyTwo in this.opts[keyOne]){
                        this.requestOption[keyTwo] = this.opts[keyOne][keyTwo].value;
                    }
                }
            },
        },
        beforeMount(){
            this.opts = this.options;
        }

    }
</script>

<style scoped>

</style>