<template>
        <b-modal id="modal-login" title="Вход">
            <form class="form-horizontal" v-on:submit.prevent="submit()" method="POST" role="form">
                <div :class="{'has-error':$v.loginData.email.$error}">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            placeholder="email@gmail.com"
                            id="email"
                            class="form-control"
                            aria-invalid="true"
                            @blur="$v.loginData.email.$touch()"
                            v-model.trim="loginData.email"
                    />
                </div>
                <label for="pass">Пароль</label>
                <div :class="{'has-error':$v.loginData.password.$error}">
                    <input
                            type="password"
                            id="pass"
                            placeholder="******"
                            class="form-control has-error"
                            @blur="$v.loginData.password.$touch()"
                            v-model.trim="loginData.password"
                    />
                </div>

                <div class="error" v-if="!$v.loginData.password.minLength">Минимум
                    {{$v.loginData.password.$params.minLength.min}} символа.
                </div>

                <div class="text-center checkbox">
                    <label>
                        <input type="checkbox" name="remember" checked> Запомнить
                    </label>
                </div>

                <div class="text-center p-20">
                    <button
                            type="submit"
                            :disabled="isDisabled($v.$invalid)"
                            v-button-loader="loaderActive"
                            class="btn btn-primary"
                    >Войти
                    </button>
                </div>
            </form>

            <div v-show="errorUser" class="text-center alert alert-danger">
                <span>Неверный email или пароль</span>
            </div>

            <div slot="modal-footer"></div>
        </b-modal>
</template>

<script>

    import {validationMixin} from 'vuelidate';
    import {required, minLength, email} from 'vuelidate/lib/validators';

    export default {
        mixins: [validationMixin],
        data() {
            return {
                loginData: {
                    email: '',
                    password: '',
                    remember: '',
                },
                loaderActive: false,
                errorUser: false
            }
        },
        validations: {
            loginData: {
                email: {
                    required,
                    email,
                    minLength: minLength(4),
                },
                password: {
                    required,
                    minLength: minLength(4)
                },
                remember: {},
            }
        },
        methods: {
            isDisabled(invalid){
                return invalid ? true : this.loaderActive ? true : false;
            },
            submit() {
                let self = this;
                self.loaderActive = true;
                axios.post(route('frontend.login'), this.loginData)
                    .then(function (response) {
                        location.reload();
                    })
                    .catch(function (error) {
                        self.loaderActive = false;
                        if(error.response.status === 422){
                            self.errorUser = true;
                            setTimeout(function () {
                                self.errorUser = false;
                            }, 5000)
                        }
                    });
            }
        },

    }
</script>
