<template>
    <div>
        <b-modal id="modal-signup" title="Signup">
            <form class="form-horizontal" v-on:submit.prevent="submit()" method="POST" role="form">
                <div :class="{'has-error':$v.loginData.email.$error}">
                    <label for="name">name</label>
                    <input
                            type="text"
                            placeholder="Sergey"
                            id="name"
                            class="form-control"
                            aria-invalid="true"
                            @blur="$v.loginData.name.$touch()"
                            v-model.trim="loginData.name"
                    />
                </div>
                <div :class="{'has-error':$v.loginData.email.$error}">
                    <label for="email1">Email</label>
                    <input
                            type="email"
                            placeholder="email@gmail.com"
                            id="email1"
                            class="form-control"
                            aria-invalid="true"
                            @blur="$v.loginData.email.$touch()"
                            v-model.trim="loginData.email"
                    />
                </div>
                <label for="pass1">Пароль</label>
                <div :class="{'has-error':$v.loginData.password.$error}">
                    <input
                            type="password"
                            id="pass1"
                            placeholder="******"
                            class="form-control has-error"
                            @blur="$v.loginData.password.$touch()"
                            v-model.trim="loginData.password"
                    />
                </div>
                <div class="error" v-if="!$v.loginData.password.minLength">Минимум
                    {{$v.loginData.password.$params.minLength.min}} символа.
                </div>


                <div>
                    <label for="pass_comfirmation">Пароль</label>
                    <div :class="{'has-error':$v.loginData.password_confirmation.$error}">
                        <input
                                type="password"
                                id="pass_comfirmation"
                                placeholder="******"
                                class="form-control has-error"
                                @blur="$v.loginData.password_confirmation.$touch()"
                                v-model.trim="loginData.password_confirmation"
                        />
                    </div>
                </div>

                <div class="text-center p-20">
                    <button
                            type="submit"
                            :disabled="isDisabled($v.$invalid)"
                            v-button-loader="loaderActive"
                            class="btn btn-primary"
                    >Войти
                    </button>
                </div>
            </form>

            <div v-show="errorUser" class="text-center alert alert-danger">
                <span>Этот email уже зарегистрирован</span>
            </div>

            <div slot="modal-footer" class="w-100">
                <a :href="urlForgotPass" class="float-left">Забыли пароль ?</a>
            </div>
        </b-modal>
    </div>
</template>

<script>

    import {validationMixin} from 'vuelidate';
    import {required, minLength, email} from 'vuelidate/lib/validators';
    const axios = require('axios');

    export default {
        mixins: [validationMixin],
        data() {
            return {
                loginData: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                loaderActive: false,
                errorUser: false,
                urlForgotPass: route('frontend.password.request'),
            }
        },
        validations: {
            loginData: {
                email: {
                    required,
                    email,
                    minLength: minLength(4),
                },
                password: {
                    required,
                    minLength: minLength(4)
                },
                name: {
                    required,
                    minLength: minLength(4)
                },
                password_confirmation: {
                    required,
                    minLength: minLength(4)
                }
            }
        },
        methods: {
            isDisabled(invalid){
                return invalid?true:this.loaderActive?true:false;
            },
            submit() {
                let self = this;
                self.loaderActive = true;
                axios.post(route('frontend.register'), this.loginData)
                    .then(function (response) {
                        location.reload();
                    })
                    .catch(function (error) {
                        self.loaderActive = false;
                        if(error.response.status === 422){
                            self.errorUser = true;
                            setTimeout(function () {
                                self.errorUser = false;
                            }, 5000)
                        }
                    });
            }
        },

    }
</script>
